---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyC_ICxdWq4KFkeWIxY-v4qo8qWxXTAmuEk&part=snippet&q=search%20engineasd%20vqwionbrd3498%2023i%20bn35rb13qt5%2031285%20t1432q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/ardA5__VCsLjJTUP84hxzAbJivQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/ardA5__VCsLjJTUP84hxzAbJivQ\"",
         "regionCode": "MX",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Fri, 03 Jan 2020 19:49:22 GMT
recorded_with: VCR 5.0.0
