---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyC_ICxdWq4KFkeWIxY-v4qo8qWxXTAmuEk&part=snippet&q=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/e7ym4MEo5gvFKCXuSUH0_d4YnLQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/e7ym4MEo5gvFKCXuSUH0_d4YnLQ\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "MX",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/j0uEstXCXOhrDqDegEBmEeHqsBM\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "YQHsXMglC9A"
           },
           "snippet": {
            "publishedAt": "2015-10-23T06:54:18.000Z",
            "channelId": "UComP_epzeKzvBX156r6pm1Q",
            "title": "Adele - Hello",
            "description": "'Hello' is taken from the new album, 25, out November 20. http://adele.com Available now from iTunes http://smarturl.it/itunes25 Available now from Amazon ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/YQHsXMglC9A/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/YQHsXMglC9A/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/YQHsXMglC9A/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "AdeleVEVO",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/z8B_ANa7EAtIUqqI3XjJbfVQFFo\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kK42LZqO0wA"
           },
           "snippet": {
            "publishedAt": "2010-10-01T09:08:44.000Z",
            "channelId": "UCb3tJ5NKw7mDxyaQ73mwbRg",
            "title": "Martin Solveig &amp; Dragonette - Hello (Official Short Video Versio[...]
