---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic YjJhZDgwMzVlYTk0NDg4YmFlNGRkYWU1MDgwMTBhYmU6ZGZmYjczZDg1ZjUxNDExMmIzOTAzZDcyOWY1YmNlYzg=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBrmAwdJe8VNat2bzE_LBAT_nvPSCMLhC2LQs_ua49abbVHOsbP2fn2G5UOEpOM-bFqwGRBApMDz2C09vs","token_type":"Bearer","expires_in":3600,"scope":""}'
  recorded_at: Fri, 03 Jan 2020 20:16:31 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=crazy%20monkey%20banana&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBrmAwdJe8VNat2bzE_LBAT_nvPSCMLhC2LQs_ua49abbVHOsbP2fn2G5UOEpOM-bFqwGRBApMDz2C09vs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=crazy+monkey+banana&type=track&offset=0&limit=1",
            "items" : [ ],
            "limit" : 1,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Fri, 03 Jan 2020 20:16:31 GMT
recorded_with: VCR 5.0.0
