---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic YjJhZDgwMzVlYTk0NDg4YmFlNGRkYWU1MDgwMTBhYmU6ZGZmYjczZDg1ZjUxNDExMmIzOTAzZDcyOWY1YmNlYzg=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDQLWQPFu795e8C9gNFRWSmzuk3IWokhiwhMCPj1YXWLYKevcX7zYceRVNFdJlMNpkXQtNekXdi8C1t2EY","token_type":"Bearer","expires_in":3600,"scope":""}'
  recorded_at: Wed, 08 Jan 2020 18:20:51 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=my%20way&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDQLWQPFu795e8C9gNFRWSmzuk3IWokhiwhMCPj1YXWLYKevcX7zYceRVNFdJlMNpkXQtNekXdi8C1t2EY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=my+way&type=track&offset=0&limit=1",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/7vk5e3vY1uw9plTHJAMwjN"
                  },
                  "href" : "https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN",
                  "id" : "7vk5e3vY1uw9plTHJAMwjN",
                  "name" : "Alan Walker",
                  "type" : "artist",
                  "uri" : "spotify:artist:7vk5e3vY1uw9plTHJAMwjN"
                }, {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/74KM79TiuVKeVCqs8QtB0B"
                  },
                  "href" : "https://api.spotify.com/v1/artists/74KM79TiuVKeVCqs8QtB0B",
                  "id" : "74KM79TiuVKeVCqs8QtB0B",
                  "name" : "Sabrina Carpenter",
                  "type" : "artist",
                  "uri" : "spotify:artist:74KM79TiuVKeVCqs8QtB0B"
                }, {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/329e4yvIujISKGKz1BZZbO"
                  },
                  "href" : "https://api.spotify.com/v1/artists/329e4yvIujISKGKz1BZZbO",
                  "id" : "329e4yvIujISKGKz1BZZbO",
                  "name" : "Farruko",
                  "type" : "artist",
                  "uri" : "spotify:artist:329e4yvIujISKGKz1BZZbO"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/1bcvtuHyO79DNAOOhHEkEm"
                },
                "href" : "https://api.spotify.com/v1/albums/1bcvtuHyO79DNAOOhHEkEm",
                "id" : "1bcvtuHyO79DNAOOhHEkEm",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273d2aaf635815c265aa1ecdecc",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02d2aaf635815c265aa1ecdecc",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851d2aaf635815c265aa1ecdecc",
                  "width" : 64
                } ],
                "name" : "On My Way",
                "release_date" : "2019-03-21",
                "release_date_precision" : "day",
                "total_tracks" : 1,
                "type" : "album",
                "uri" : "spotify:album:1bcvtuHyO79DNAOOhHEkEm"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7vk5e3vY1uw9plTHJAMwjN"
                },
                "href" : "https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN",
                "id" : "7vk5e3vY1uw9plTHJAMwjN",
                "name" : "Alan Walker",
                "type" : "artist",
[...]
