---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic YjJhZDgwMzVlYTk0NDg4YmFlNGRkYWU1MDgwMTBhYmU6ZGZmYjczZDg1ZjUxNDExMmIzOTAzZDcyOWY1YmNlYzg=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAqcBuaoDN9jjZPiTrCpn8XL4jfoO7D2RdEJjPtYOg-GX74Fx3D_IADVmcTVfhbxwVwdN4U7X6raSPRlLE","token_type":"Bearer","expires_in":3600,"scope":""}'
  recorded_at: Wed, 08 Jan 2020 18:41:31 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=search%20engineasd%20vqwionbrd3498%2023i%20bn35rb13qt5%2031285%20t1432q&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAqcBuaoDN9jjZPiTrCpn8XL4jfoO7D2RdEJjPtYOg-GX74Fx3D_IADVmcTVfhbxwVwdN4U7X6raSPRlLE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=search+engineasd+vqwionbrd3498+23i+bn35rb13qt5+31285+t1432q&type=track&offset=0&limit=1",
            "items" : [ ],
            "limit" : 1,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Wed, 08 Jan 2020 18:41:32 GMT
recorded_with: VCR 5.0.0
