---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic YjJhZDgwMzVlYTk0NDg4YmFlNGRkYWU1MDgwMTBhYmU6ZGZmYjczZDg1ZjUxNDExMmIzOTAzZDcyOWY1YmNlYzg=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQChz5VBYl7YgNhAY9a-lEDQ6NxD2DBcbOYserTE-XJ_gjpkDNfGPDHB-iOlPEpr4vXm4nOk_ugbvXbXWDM","token_type":"Bearer","expires_in":3600,"scope":""}'
  recorded_at: Wed, 08 Jan 2020 18:41:31 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=still%20dre&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQChz5VBYl7YgNhAY9a-lEDQ6NxD2DBcbOYserTE-XJ_gjpkDNfGPDHB-iOlPEpr4vXm4nOk_ugbvXbXWDM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=still+dre&type=track&offset=0&limit=1",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6DPYiyq5kWVQS4RGwxzPC7"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6DPYiyq5kWVQS4RGwxzPC7",
                  "id" : "6DPYiyq5kWVQS4RGwxzPC7",
                  "name" : "Dr. Dre",
                  "type" : "artist",
                  "uri" : "spotify:artist:6DPYiyq5kWVQS4RGwxzPC7"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7q2B4M5EiBkqrlsNW8lB7N"
                },
                "href" : "https://api.spotify.com/v1/albums/7q2B4M5EiBkqrlsNW8lB7N",
                "id" : "7q2B4M5EiBkqrlsNW8lB7N",
                "images" : [ {
                  "height" : 636,
                  "url" : "https://i.scdn.co/image/5e1b25c45e9ea76e987c16bfad41bf1c9f4f146c",
                  "width" : 640
                }, {
                  "height" : 298,
                  "url" : "https://i.scdn.co/image/de0eeffd30139a74b624e901d2157e0bd26e0976",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/3a9308bb33fe61ca9758060ddfd0096313c5e563",
                  "width" : 64
                } ],
                "name" : "2001",
                "release_date" : "1999-11-16",
                "release_date_precision" : "day",
                "total_tracks" : 23,
                "type" : "album",
                "uri" : "spotify:album:7q2B4M5EiBkqrlsNW8lB7N"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6DPYiyq5kWVQS4RGwxzPC7"
                },
                "href" : "https://api.spotify.com/v1/artists/6DPYiyq5kWVQS4RGwxzPC7",
                "id" : "6DPYiyq5kWVQS4RGwxzPC7",
                "name" : "Dr. Dre",
                "type" : "artist",
   [...]
